// psuedo classes , styling elements under special conditions
@import "./variables";

.btn {
	&,
	&:link,
	&:visited {
		text-decoration: none;
		padding: 1rem 2rem;
		display: inline-block;
		border-radius: 10rem;
		transition: all .2s ease-in-out;
		font-size: 1.5rem;
		border: none;
		cursor: pointer;
	}

	&--blue {
		background-color: $color-primary;
		color: $color-white;
	}

	&:hover {
		transform: translateY(-0.3rem);
		box-shadow: 0rem 0.7rem 1rem rgba($color-black, $alpha: 0.2);
	}

	&:active,
	&:focus {
		outline: none;
		transform: translateY(-0.1rem);
		box-shadow: 0 0.5rem 1rem rgba($color-black, $alpha: 0.2);
	}
}

.btn--outline {
	&,
	&:link,
	&:visited {
		text-decoration: none;
		padding: 1rem 2rem;
		display: inline-block;
		border-radius: 10rem;
		transition: all .2s ease-in-out;
		font-size: 1.5rem;
		border: none;
		cursor: pointer;
		color: $color-primary;
		border: 1px solid $color-primary;
		transition: all .2s ease-in-out;
	}

	&:hover {
		transform: translateY(-0.3rem);
		box-shadow: 0rem 0.7rem 1rem rgba($color-black, $alpha: 0.2);
	}

	&:active {
		transform: translateY(-0.1rem);
		box-shadow: 0 0.5rem 1rem rgba($color-black, $alpha: 0.2);
	}
}
