@import "./variables";

*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.7;
	box-sizing: border-box;
}

.link {
	&,
	&:link,
	&:visited {
		text-decoration: none;
		color: inherit;
		transition: all 0.3s ease-in-out;
	}
}
